#footer {
    background-image: url("../../assets/footer.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    /* background-size:contain; */
    background-position: center;
}

#footerText {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    font-weight: 500;
}

.terms {
    font-size: 12px;
}

#copyRight {
    font-size: 12px;
}